<div class="sidebar mt-4 ">
   <div class="list-group ">
      <a href="#" class="list-group-item list-group-item-action">
         <i class="bi bi-book me-2"></i> Books
      </a>
      <a href="#" class="list-group-item list-group-item-action">
         <i class="bi bi-journal me-2"></i> Book Categories
      </a>
      <a href="#" class="list-group-item list-group-item-action">
         <i class="bi bi-person me-2"></i> Students
      </a>
      <a href="#" class="list-group-item list-group-item-action">
         <i class="bi bi-journal-text me-2"></i> Library Transactions
      </a>
   </div>
</div>
