<!-- app.component.html -->

<div class="container-fluid custom-container d-flex flex-column min-vh-100 p-0">
   <div class="row">
     <!-- Header -->
     <app-header></app-header>
   </div>
 
   <div class="row flex-grow-1 ">
     <!-- Sidebar -->
     <div class="col-lg-3 col-md-4">
       <app-sidebar></app-sidebar>
     </div>
     
     <!-- Main Content -->
     <div class="col-lg-9 col-md-8 main-content">
       <router-outlet></router-outlet>
     </div>
   </div>
 
   <div class="row mt-auto">
     <!-- Footer -->
     <app-footer></app-footer>
   </div>
 </div>
