<div class="container-fluid">
   <div class="row">
      <app-header></app-header>
   </div>

   <div class="row">
      <!-- Sidebar (navbar) on the left side -->
      <div class="col-lg-3 col-md-4">
         <app-sidebar></app-sidebar>
      </div>
      
      <!-- Main Content (dashboard) on the right side -->
      <div class="col-lg-9 col-md-8 main-content">
         <app-dashboard></app-dashboard>
      </div>
   </div>

   <div class="row">
      <app-footer></app-footer>
   </div>
</div>
