<div class="container mt-4">
   <div class="row">
      <div class="col">
         <h2>Book Categories</h2>
      </div>
      <div class="col text-end">
        <button type="button" class="btn btn-primary btn-border" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
         Add Category
       </button>
      </div>
   </div>

   <table class="table mt-3">
      <thead>
         <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let category of bookCategories; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ category.categoryName }}</td>
            <td>
               <button class="btn btn-secondary btn-sm btn-border">Edit</button>
               &nbsp;&nbsp;&nbsp;
               <button class="btn btn-danger btn-sm btn-border">Delete</button>
            </td>
         </tr>
      </tbody>
   </table>
</div>

<!-- Add Catgeory modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form>
           <div class="mb-3">
             <label for="categoryName" class="form-label">Category Name</label>
             <input type="text" class="form-control btn-border" id="categoryName" placeholder="Enter category name" [(ngModel)]="categoryName" name="categoryName" required>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-danger btn-border" data-bs-dismiss="modal">Cancel</button>
             <button type="button" class="btn btn-primary btn-border" (click)="addCategory()">Add</button>
           </div>
         </form>
       </div>
     </div>
   </div>
 </div>