<div class="container mt-4">
   <div class="row">
      <div class="col">
         <h2>Book Categories</h2>
      </div>
      <div class="col text-end">
         <a routerLink="add" class="btn btn-primary btn-border" > Add Category </a>
      </div>
   </div>

   <table class="table mt-3">
      <thead>
         <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let category of bookCategories; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ category.categoryName }}</td>
            <td>
               <a [routerLink]="'edit/' + category.categoryId" class="btn btn-secondary btn-sm btn-border">Edit</a>
               &nbsp;&nbsp;&nbsp;
               <button class="btn btn-danger btn-sm btn-border" (click)="deleteCagetory(category.categoryId)">Delete</button>
            </td>
         </tr>
      </tbody>
   </table>
</div>